.visualizer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
  }
  
  .bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2px;
  }
  
  .bar {
    width: 60px;
    background-color: #50d9ff;
    margin: 0 2px;
  }
  
  .bar-value {
    margin-top: 5px;
    font-size: 20px;
  }