.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header h1 {
  font-size: 50px;
  margin: 20px 0;

}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
}

.control-panel {
  flex: 1;
  max-width: 400px;
  /* margin-right: 20px; */
}


.visualizer-container {
  align-items: center;
  flex: 3;
  max-width: 800px;
  padding-right: 30%;
}